.home-page {
  display: flex;
  flex-direction: column;

  &__label {
    font-size: 20px;
    margin-bottom: 5px;
  }

  &__file-input {
    margin-bottom: 15px;
  }

  &__canvas {
    width: 100%;
    max-width: 800px;
    margin: auto;
  }
  
  * {
    white-space: pre-wrap;
  }
}
